.formCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  background-color: var(--formCard);
}

.formPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: space-between
}

.button:hover {
  background-color: rgb(141, 141, 141);
}
