<div class="formCard">
  <div class="formPage" *ngIf="page == 0">
    <app-page-one (onCompanyChanged)="onCompanyChanged($event)" [company]="company"
                  [industryList]="industryList ? industryList : []"/>
    <div class="buttonContainer">
      <button
        (click)="onContinueClickHandler()"
        class="button">{{de.label.continue}}</button>
    </div>
  </div>
  <div class="formPage" *ngIf="page == 1">
    <app-page-two (onUserChanged)="onUserChanged($event)" (isUserValid)="onUserValidationChange($event)" [user]="user"/>
    <div class="buttonContainer">
      <button
        (click)="onBackClickHandler()"
        class="button">{{de.label.back}}</button>
      <button
        (click)="onContinueClickHandler()"
        class="button">{{de.label.continue}}</button>
    </div>
  </div>
  <div class="formPage" *ngIf="page == 2">
    <app-page-three
      [triedToFinishForm]="triedToFinishForm"
      [user]="user"
      [company]="company"
      [checkBoxValidation]="checkBoxValidation"
      (onCheckboxChanged)="onCheckBoxChanged($event)"/>
    <div class="buttonContainer">
      <button
        (click)="onBackClickHandler()"
        class="button">{{de.label.back}}</button>
      <button
        (click)="onFinishFormClickHandler()"
        class="button">{{de.label.finishForm}}</button>
    </div>
  </div>
</div>
