<h1>{{de.headlines.dataCompany}}</h1>
<div class="mainContainer">
  <input
    class="marginBot"
    [ngModel]="company.companyName"
    (input)="onCompanyChange($event)"
    [placeholder]="de.labelCompany.companyName"/>
  <div class="industry">
    <label class="label">{{de.labelCompany.industry}}</label>
    <select [(ngModel)]="company.industry" (change)="onIndustryChange($event)">
      <option>{{industryList[0].name}}</option>
      <option *ngFor="let industry of industryList.slice(1); let i = index" [value]="industryList[i+1].name">
        {{ industry.name }}
      </option>
    </select>
  </div>
</div>
