<div class="mainContainer">
  <h1>{{de.headlines.dataCompany}}</h1>
  <input
    class="marginBot"
    [class.invalid]="companyValidation.name === false"
    [class.valid]="companyValidation.name"
    [ngModel]="company.companyName"
    (input)="onCompanyChange($event)"
    [placeholder]="de.labelCompany.companyName"/>
  <div class="industry">
    <label class="label">{{de.labelCompany.industry}}</label>
    <select [value]="company.industry.name" (change)="onIndustryChange($event)">
      <option *ngFor="let industry of industryList" [value]="industry.name">
        {{ industry.name }}
      </option>
    </select>
  </div>
</div>
